.SecondSection{
    display: grid;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap:5%;
    align-items: center;
  
}

.SecondSection img{
    height:500px;
    width:50%;
    object-fit: cover;
    border-radius: 8px;
}
.SecondSection-information{
    padding-left:20px;

}
.SecondSection-information-header{
    font-size:25px;
    color:var(--color-1);
    font-weight:800px;
}
.SecondSection-information-p{
    color:black;
    margin-top:-10px;
    font-size: 14px;
}
.first{
    border-left:3px solid var(--color-1);
}
@media (max-width: 800px) {
    .SecondSection{
        display: flex;
        height:auto;
        flex-direction: column;    
        padding-left:25px;
        padding-right:25px;
    }
    .SecondSection img{
         width:100%;
         
     }
}