.FirstSection{
    background-color: var(   --color-2);
    height:650px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.img-text-header{
    font-size:50px;
    font-weight: 700;
     color:var(--color-1);

}
.img-text{
    font-size:18px;
     margin-top:-15px;   
      color:var(--off);

}
.img-text-container{
    padding:35px;
    z-index: 3;

}
.img-buttons button:first-of-type{
    margin-top:25px;

}

@media (max-width: 450px) {
    .img-text-header{
        font-size:40px;
        color:rgb(246, 246, 246);
        font-weight: 700;
    }
    
}