.ConsultaionBtn{
    background-color: var(--color-1);
    color: var(--color-1);
    border: 0;
    padding:15px;
    padding-right:35px;
    padding-left:35px;
    width:auto;
    font-size:18px;
    color: white;
    border-radius: 9px;
    display: flex;
    align-items: center;
 }
 .ConsultaionBtn i{
    margin-left:15px;
 }