body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
     overflow-x: hidden;
}
 
:root{
    --color-1:#EA580C;
   --color-2:rgb(23, 38, 70);
   --border-color:rgb(224, 224, 224);
  
   --off:#f4f4f4;
   --color-3:#676767;

}

 a{
    text-decoration: none;
    cursor: pointer;
    padding:0px;
    margin:0px;
 }
 a:hover{
    color: var(--hover-color);
 }
 button{
    cursor: pointer;
 }
 .container{
   padding-left:8%;
   padding-right:8%;
 }
 .section-spacing{
   padding-top:75px;
  }
 @media (max-width: 800px) {
   .section-spacing{
      padding-top:75px;
   }
}